<div class="text-center"  >
	<section>

        <img src="css/orangeTODO.png" class="shadow" style="padding: 5px 50px; margin: 10px">
               
        <form id="form-data" ng-submit="createTodo(form.$valid, form);" name="form" novalidate>
            
            <input ng-model="formData.title" type="text" size="22" name="title" required
                placeholder="what needs to be done?" />

            <input ng-model="formData.date" type="text" id="datePicker" 
                size="16" placeholder="select date and time" required/>
            
            <select class="select-priority" ng-model="selectedOpt"
                    ng-options="option.name for option in availOptions track by option.id">
            
            </select>
            <div style="display:none" ng-bind = "formData.priority = selectedOpt"></div>
           
            <input type="submit" class="button"  value="Add" >

        </form>

            <ul class="shadow main-ul" id="mainul" ng-model="todos" ui-sortable>
                <li class="slide-left" ng-repeat="task in todos track by $index"
                   ng-mouseenter="valbool=false"
                   ng-mouseleave="valbool=true">
                    
                    <div class="inline" ng-class="{viewbtn: valbool}" ng-init="valbool=true">
                        
                        <img ng-src="css/circle{{task.priority.id}}.png" 
                             ng-click="task.priority = decreasePriority(task.priority);updateTodo(task._id, task);" />
                        
                        <input type="checkbox" ng-model="task.done" ng-change="updateTodo(task._id, task);" /> 
                        
                        <button class="btn-x" ng-click="deleteTodo(task._id);">X</button>
                    </div> 

                    <form ng-submit="updateTodo(task._id, task);upT.stopEditing(task, $index)" class="inline" ng-controller="updateTitle as upT">
                        <div id="labelTodo" class="done-{{task.done}} inline mult-line showtask" ng-dblclick="upT.changeTitle(task, $index)">
                            <label> {{ task.title }} </label>
                        </div>

                        <div id="editTodo" class="inline mult-line hidetask" >
                           <input ng-model="task.title" />
                        </div>
                    </form>
                    
                    <label ng-if="!task.done">{{ task.notification }}</label><br>

                    <div class="inline small-line" ng-class="{viewbtn: valbool}" >
                        <label>{{ task.description }}</label>
                    </div> 
                   
                </li>
            </ul> 

            <span>
                <label class="items-left">
                    <ng-pluralize count="remainingItems()"
                                  when="{'0' : 'Nothing to do',
                                        'one': 'Only 1 item left',
                                      'other': '{} of {{leftItems()}} items left'}">
                    </ng-pluralize>
                </label>
            </span>
        
            <select class="select-sorting" ng-model="m1" ng-change="todos = sortTasks(todos, m1)">
                <option ng-repeat="opt in opts" ng-value="opt.val">{{ opt.name }}</option>
            </select>
                
	</section>
</div>